<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <h1>About Me</h1>
  <h2>... and any new Astro site!</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus culpa
    eius repudiandae consectetur quam, commodi sed aut praesentium repellendus,
    necessitatibus officiis voluptatum saepe assumenda dolor dignissimos aperiam
    perspiciatis quia reiciendis?
  </p>
</body>
